body {
	font-family: Indie Flower;
	background:#E6EBE0;
}
header {
	padding: 3px 10px;
	margin-bottom: 5px;
	background: -webkit-linear-gradient(left, #333333, #55dedf); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #333333, #55dedf); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #333333, #55dedf); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #333333, #FFFFFF); /* Standard syntax */
	border-radius: 10px;
	background-color: yellow;
  width: 100%;
  height: 250px;
}
header img{ /*Imagen logo*/
  height: 90%;
  float: right;
  padding: 0.5% 2% 0 0;
}
header h1{
  //background-color: #333333;
  color: white;
  text-align: center;
  padding-left: 10%;
	font-size: 3.5em;
}

.container {
	margin: 0;
	padding: 0;
	width: 100%;
}

.container div {
	box-sizing: border-box;
	min-width: 150px;
	padding: 20px;
}
.c1 {
	color: black;
	background-color: #F6EBE0;
}

.c2 {
	color: black;
	background-color: #F4F1BB;
}

.c3 {
	color: black;
	background-color: #9BC1BC;
}

.c4 {
	color: black;
	background-color: #36C9C6;
}

.c5 {
	color: white;
	background-color: #ED6A5A;
}

.container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

.c1, .c2, .c3, .c4 {
	width: 100%;
}



footer{
  //clear: both;//para que no se sobrepongan cajas
  font-size: 0.8em;
	border-top: solid 2px #1f47a8;
	padding-top: 10px;
	margin-top: 15px;
	text-align: center;
	text-align: center;
  height: 100px;
  width: 90%;
  background-color: grey;
  //position: fixed;
  bottom: 0;
  border-top: solid 2px #605B56;
	margin-top: 15px;
  background-color: #333333;
  color: white;
}

@media (min-width: 600px) {
	.c1 {
		width: 25%;
	}

	.c4 {
		width: 75%;
	}

	header {
		width: 75%;
	}
	footer{
		width: 75%;
	}
	header h1{
		font-size: 1.5em;
	}
	.imagen-adaptativa{
		width:10%;
		border: 2px;
		border-radius: 10%;
		transition-property: width, height;
    transition-duration: 2s, 4s;
	}
	.imagen-adaptativa:hover{
      width: 20%;
      height: 20%;
      //transform: rotate(50deg);
    }

}

@media (min-width: 800px) {
	.container {
		width: 1500px;
		margin-left: auto;
		margin-right: auto;
	}
	header {
		width: 1500px;
		margin-left: auto;
		margin-right: auto;
	}
	footer{
		width: 1500px;
		margin-left: auto;
		margin-right: auto;
	}
	header h1{
		font-size: 4em;
	}
	.imagen-adaptativa{/*tamaño imagenes productos*/
		width:20%;
		border: 2px;
		border-radius: 10%;
		transition-property: width, height;
		transition-duration: 2s, 4s;
	}
	.imagen-adaptativa:hover{/*cuando pasa el mouse por encima*/
			width: 30%;
			height: 30%;
			//transform: rotate(50deg);
			filter:grayscale(0%);
		}
	@keyframes imagen-animacion {/*nombre de la animacion*/
		0% {
			position: relative;
			left: 0px
		}
		50% {
			position: relative;
			left: 500px;
			transform: rotate(50deg);
		}
		100% {
			position: relative;
			left: 0px;
		}
	}
	.imagen-adaptativa{
		animation-name: imagen-animacion;/*nombre animacion imagen*/
		animation-duration: 2s;/*tiempo en segundos*/
		-webkit-animation-delay: 1s;
		-moz-animation-delay: 1s;
		-o-animation-delay: 1s;
		animation-delay: 1s;
		-webkit-filter:grayscale(100%);/*escala de grises imagen*/
		filter:grayscale(100%);
		-webkit-filter:drop-shadow(5px 5px 20px black);/*sombra imagen*/
		filter:drop-shadow(5px 5px 20px black);
}
	nav {
		width: 1500px;
		margin-left: auto;
		margin-right: auto;
	}
}
